Repository hashicorp/terraform-provider-helm, pull requests merged in 2023-02, with the labels that each got.

#1042 🤖 Update GH Actions with the pinned commit hash versions
  .github/dependabot.yml
  .github/workflows/changelog-checker.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/issue-opened.yml
  .github/workflows/lock.yml
  .github/workflows/prune_stale_issues.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/website.yaml
Labels: size/M, pr/no-changelog

#1050 Add `crds` attribute to `helm_template` data source
  .changelog/1050.txt
  helm/data_template.go
  helm/data_template_test.go
  helm/testdata/charts/crds-chart/.helmignore
  helm/testdata/charts/crds-chart/Chart.yaml
  helm/testdata/charts/crds-chart/crds/apples.yaml
  helm/testdata/charts/crds-chart/crds/oranges.yaml
  helm/testdata/charts/crds-chart/templates/NOTES.txt
  helm/testdata/charts/crds-chart/templates/_helpers.tpl
  helm/testdata/charts/crds-chart/templates/configmaps.yaml
  helm/testdata/charts/crds-chart/templates/deployment.yaml
  helm/testdata/charts/crds-chart/templates/hpa.yaml
  helm/testdata/charts/crds-chart/templates/ingress.yaml
  helm/testdata/charts/crds-chart/templates/service.yaml
  helm/testdata/charts/crds-chart/templates/serviceaccount.yaml
  helm/testdata/charts/crds-chart/templates/tests/test-connection.yaml
  helm/testdata/charts/crds-chart/values.yaml
  website/docs/d/template.html.markdown
Labels: size/XL, documentation

#1053 Update FAQ.md
  _about/FAQ.md
Labels: size/XS, pr/no-changelog

#1051 Update provider docs to mention not using KUBECONFIG
  website/docs/index.html.markdown
Labels: size/XS, documentation, pr/no-changelog

#1057 🤖 Remove 'Automate labeled issues' workflow
  .github/workflows/labeled_issues.yml
Labels: size/XS, pr/no-changelog

#1061 Update change log config file
  .changelog/changelog.tmpl
Labels: size/S, pr/no-changelog

#1062 Update change log files
  .changelog/1012.txt
  .changelog/1026.txt
  .changelog/1027.txt
  .changelog/1029.txt
  .changelog/1030.txt
  .changelog/1036.txt
  .changelog/1037.txt
  .changelog/1050.txt
  .changelog/1051.txt
  .changelog/1054.txt
  .changelog/1055.txt
  .changelog/982.txt
Labels: size/S, pr/no-changelog

#1063 🎉 Release `v2.9.0`
  CHANGELOG.md
Labels: size/S, pr/no-changelog
